@use '../abstracts/variables';

.immersive-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-self: center;
  border: 2px solid variables.$color-white;
  padding: 26px 24px 24px 24px;
  
  h1 {
    color: variables.$color-white;
    text-align: left;
  }
}